//! **************************************************************************
// Written by: Map P.20131013 on Thu Dec 17 19:07:54 2020
//! **************************************************************************

SCHEMATIC START;
COMP "a" LOCATE = SITE "P41" LEVEL 1;
COMP "b" LOCATE = SITE "P40" LEVEL 1;
COMP "c" LOCATE = SITE "P35" LEVEL 1;
COMP "d" LOCATE = SITE "P34" LEVEL 1;
COMP "e" LOCATE = SITE "P32" LEVEL 1;
COMP "f" LOCATE = SITE "P29" LEVEL 1;
COMP "g" LOCATE = SITE "P27" LEVEL 1;
COMP "CLK" LOCATE = SITE "P123" LEVEL 1;
COMP "LED" LOCATE = SITE "P82" LEVEL 1;
COMP "RST" LOCATE = SITE "P45" LEVEL 1;
PIN RST_pin<0> = BEL "RST" PINNAME PAD;
PIN "RST_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SWAP" LOCATE = SITE "P5" LEVEL 1;
COMP "Speaker" LOCATE = SITE "P6" LEVEL 1;
COMP "HSYNC" LOCATE = SITE "P23" LEVEL 1;
COMP "VSYNC" LOCATE = SITE "P21" LEVEL 1;
COMP "common0" LOCATE = SITE "P44" LEVEL 1;
COMP "common1" LOCATE = SITE "P43" LEVEL 1;
COMP "common2" LOCATE = SITE "P33" LEVEL 1;
COMP "common3" LOCATE = SITE "P30" LEVEL 1;
COMP "start" LOCATE = SITE "P46" LEVEL 1;
COMP "Movedown" LOCATE = SITE "P9" LEVEL 1;
COMP "RGB<0>" LOCATE = SITE "P124" LEVEL 1;
COMP "RGB<1>" LOCATE = SITE "P127" LEVEL 1;
COMP "RGB<2>" LOCATE = SITE "P132" LEVEL 1;
COMP "RGB<3>" LOCATE = SITE "P134" LEVEL 1;
COMP "RGB<4>" LOCATE = SITE "P138" LEVEL 1;
COMP "RGB<5>" LOCATE = SITE "P140" LEVEL 1;
COMP "RGB<6>" LOCATE = SITE "P142" LEVEL 1;
COMP "RGB<7>" LOCATE = SITE "P1" LEVEL 1;
COMP "moveRight" LOCATE = SITE "P14" LEVEL 1;
PIN moveRight_pin<0> = BEL "moveRight" PINNAME PAD;
PIN "moveRight_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "Buzzer" LOCATE = SITE "P83" LEVEL 1;
COMP "Rotage" LOCATE = SITE "P16" LEVEL 1;
PIN Rotage_pin<0> = BEL "Rotage" PINNAME PAD;
PIN "Rotage_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "moveLeft" LOCATE = SITE "P11" LEVEL 1;
PIN moveLeft_pin<0> = BEL "moveLeft" PINNAME PAD;
PIN "moveLeft_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
SCHEMATIC END;

