
# PlanAhead Generated physical constraints 

NET "RGB[0]" LOC = P124;
NET "RGB[1]" LOC = P127;
NET "RGB[2]" LOC = P132;
NET "RGB[3]" LOC = P134;
NET "RGB[4]" LOC = P138;
NET "RGB[5]" LOC = P140;
NET "RGB[6]" LOC = P142;
NET "RGB[7]" LOC = P1;
NET "CLK" LOC = P123;
NET "HSYNC" LOC = P23;
NET "VSYNC" LOC = P21;
NET "RST" CLOCK_DEDICATED_ROUTE = FALSE;
NET "LED" LOC = P82;
NET "RST" LOC = P45;
NET "moveRight" CLOCK_DEDICATED_ROUTE = FALSE;
NET "moveRight" LOC = P14;
NET "moveLeft" CLOCK_DEDICATED_ROUTE = FALSE;
NET "moveLeft" LOC = P11;
NET "Rotage" CLOCK_DEDICATED_ROUTE = FALSE;
NET "Rotage" LOC = P16;
NET "Buzzer" LOC = P83;
NET "start" LOC = P46;
NET "swap" LOC = P5;
NET "Movedown" LOC = P9;
NET "a" LOC = P41;
NET "b" LOC = P40;
NET "c" LOC = P35;
NET "d" LOC = P34;
NET "e" LOC = P32;
NET "f" LOC = P29;
NET "g" LOC = P27;
NET "common0" LOC = P44;
NET "common1" LOC = P43;
NET "common2" LOC = P33;
NET "common3" LOC = P30;
NET "speaker" LOC = P6;
